<h2 align="center" >Registraion Form</h2><br>
<form id="myForm"  	method="POST" name="myForm"  enctype="multipart/form-data"> 
        <div class="container">
                    <div class="col-md-6">
                              <div class="form-group">
                                    <label for="ufname">First Name</label>
                                    <input type="text" class="form-control" name="fname"  placeholder="Enter First Name">
                              </div>
                    </div>
                     <div class="col-md-6">
                              <div class="form-group">
                                    <label for="ulname">Last Name</label>
                                    <input type="text" class="form-control" name="lname" placeholder="Enter Last Name">
                              </div>
                    </div>
                    <div class="col-md-6">
                              <div class="form-group">
                                    <label for="ufathname">Father Name</label>
                                    <input type="text" class="form-control" name="fathnmae"  placeholder="Enter Father Name">
                              </div>
                    </div>
                     <div class="col-md-6">
                              <div class="form-group">
                                    <label for="femail">Email</label>
                                    <input type="email" class="form-control" name="email1" placeholder="Enter Email">
                              </div>
                    </div>
                    <div class="col-md-6">
                              <div class="form-group">
                                    <label for="fpassw">Password</label>
                                    <input type="Password" class="form-control" name="passw" placeholder="Enter Password">
                              </div>
                    </div>

                     <div class="col-md-6">
                              <div class="form-group">
                                    <label for="fphno">Phone</label>
                                    <input type="phn" class="form-control" name="uphn" placeholder="Enter Phone No">
                              </div>
                    </div>

                     <div class="col-md-6">
                              <div class="form-group">
                                    <label for="fcityh">City</label>
                                    <input type="text" class="form-control" name="city" placeholder="Enter City">
                              </div>
                    </div>
                      <div class="col-md-6">
                              <div class="form-group">
                                    <label for="fphno">State</label>
                                    <input type="text" class="form-control" name="State" placeholder="Enter State">
                              </div>
                    </div>


                              <div class="form-group" align="center">
                                 <input type="submit"  id="test" type="submit" class="btn btn-primary" value="submit">
                              </div>
                              

            </div>
</form>
