
<h1 align="center" >Digital News </h1>

   <div class="container" *ngIf="newsData">
                <div *ngFor="let news of newsData">
                <h3>Author</h3>
                {{news.author}}
                <h3>Title</h3>
                <h1>{{news.title}}</h1>
               <img [src]="news.urlToImage"  width="800" height="500" >
                <h3>Description</h3>
                <h4>{{news.description}}</h4>
                
                <h3>Link</h3>
                <a href="">{{news.url}}</a>
                </div>  
    </div>
 