<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"routerLink = "/home">enveu.com</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a routerLink = "/home">Home</a></li>
      <li><a routerLink = "about" >AboutUs</a></li>
      <li><a routerLink ="contact" >ContactUS</a></li>
      <li><a routerLink ="creatlead" >Create Lead</a></li>
      
      <li><a routerLink ="showlead" >Show Lead</a></li>
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink ="registration"><span class="glyphicon glyphicon-user"></span> Registration</a></li>
      <li><a routerLink ="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
      