<br>
<h2 align="center" >Login Form</h2> <br> 
<form id="myForm"   method="POST" name="myForm" action="#"  enctype="multipart/form-data"> 
      <div class="container" align="center">
          <div class="col-md-6">
                    <div class="form-group">
                          <label for="femail">Email</label>
                          <input type="email" class="form-control" name="email1" id="email1" placeholder="Enter Email">
                    </div>
          </div>
           <div class="col-md-6">
                   <div class="form-group">
                          <label for="fpassw">Password</label>
                          <input type="password" class="form-control" name="passw" id="passw" placeholder="Enter Password">
                   </div>
          </div>
                    
                    <div class="form-group">
                         <input type="submit"  id="submit" type="submit" class="btn btn-primary" value="Login">
                    </div>
     </div>
</form>