<pre>this is crete lead Component</pre>

<h2>{{title | lowercase}}</h2>



<h3>{{25+75+100}}</h3>


{{x}}
<br>

<button [disabled]="isDisable">clickMe</button>
<br><br>

<button (click) ="addition()">addition</button>

